<li>
    <a href="{{ path('micro_post_user',{'email':post.user.email}) }}">{{ post.user.email }} </a> {{ post.text }} {{ post.time|date }}
    <a href="{{ path('micro_post_post',{'id':post.id}) }}">Show</a>
    {% if is_granted('edit',post) %}
        <a href="{{ path('micro_post_edit',{'id':post.id}) }}">Edit</a>
    {% endif %}
    {% if is_granted('delete',post) %}
        <a href="{{ path('micro_post_delete',{'id':post.id}) }}">Delete</a>
    {% endif %}
</li>